<h1 class="dcf-txt-h3">Innovation Studio Email</h1>

<h2 class="dcf-txt-h4">Send Email to User(s)</h2>
<a class="dcf-mt-6 dcf-btn dcf-btn-primary" href="/admin/email/send/">Compose</a>
<a class="dcf-mt-6 dcf-btn dcf-btn-primary" href="/admin/alerts/">Manage Alerts</a> 
<a class="dcf-mt-6 dcf-btn dcf-btn-primary" href="/admin/email/presets/">Manage Preset Emails</a> 
<a class="dcf-mt-6 dcf-btn dcf-btn-primary" href="/admin/email/expiration_email">Manage Expiration Email</a>
