<h1 class="dcf-txt-h4">Modify Expirations</h1>

<form class="dcf-form" action="" method="POST">
    <label for="days-to-add">Days to add to ALL users' expiration dates:</label>
    <input id="days-to-add" name="days_to_add" type="number" value="0" min="-60" max="60" step="1">
    <button style="margin-top:15px;" class="dcf-btn dcf-btn-primary" type="submit">Modify</button>
</form>
