<h1 class="dcf-txt-h3">Create User</h1>

<div class="dcf-grid dcf-col-gap-vw">
<form id="new-user" action="" method="POST" enctype="multipart/form-data" class="dcf-form dcf-col-100% dcf-col-50%-start@sm">
    <fieldset>
        <legend>User Details</legend>

        <div class="dcf-form-group">
            <label for="username">Username</label>
            <input class="dcf-w-100%" type="text" id="username" name="username" />
        </div>

        <div class="dcf-form-group">
            <label for="password">Password</label>
            <input class="dcf-w-100%" type="password" id="password" name="password" />
        </div>

        <div class="dcf-form-group">
            <label for="password">Confirm Password</label>
            <input class="dcf-w-100%" type="password" id="password2" name="password2" />
        </div>

        <div class="dcf-form-group">
            <label for="email">Email Address</label>
            <input class="dcf-w-100%" type="text" id="email" name="email" />
        </div>

        <div class="dcf-form-group">
            <label for="first-name">First Name</label>
            <input class="dcf-w-100%" type="text" id="first-name" name="first_name" />
        </div>

        <div class="dcf-form-group">
            <label for="last-name">Last Name</label>
            <input class="dcf-w-100%" type="text" id="last-name" name="last_name" />
        </div>

        <div class="dcf-form-group">
            <label for="university-status">University Status</label>
            <select id="university-status" name="university_status">
                <% USER_STATII.each do |word| %>
                    <option value="<%= word %>"><%= word %></option>
                <% end %>
            </select>
        </div>

        <div class="dcf-form-group">
            <div class="dcf-datepicker">
                <label for="expiration-date">Membership Expiration Date</label>
                <input id="expiration-date" name="expiration_date" title="Membership Expiration Date" type="text" />
            </div>
        </div>

        <div class="dcf-form-group">
            <label for="imagedata">User Image</label>
            <input type="file" name="imagedata" id="imagedata" title="User Image">
        </div>

        <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Create</button>
    </fieldset>
</form>
</div>
<% append_script_declaration("WDN.initializePlugin('datepickers');") %>
