<div id="pagetitle">
	<h3>Send Email</h3>
</div>

<form action="" method="POST" enctype="multipart/form-data">
	<div class="dcf-grid dcf-col-gap-vw">
		<fieldset class="dcf-col-100% dcf-col-50%-start@sm">
			<legend>Send to:</legend>
			<input type="checkbox" id="send-to-all-non-admins" name="send_to_all_non_admins"> <label for="send-to-all-non-admins">All Non-Admins</label><br>
			<input type="checkbox" id="send-to-all-users" name="send_to_all_users"> <label for="send-to-all-users">All Users</label><br>
			<input type="checkbox" id="send-to-all-students" name="send_to_all_students"> <label title="UNL Undergrad, UNL Grad, Other Student" for="send-to-all-students">All Students</label><br>
			<input type="checkbox" id="send-to-all-facstaff" name="send_to_all_facstaff"> <label title="UNL Staff, UNL Faculty, Emeritus UNL Faculty" for="send-to-all-facstaff">All UNL Faculty/Staff</label><br>
			<input type="checkbox" id="send-to-specific-user" name="send_to_specific_user">
			<label for="specific-user">Specific User(s) (use Shift or Ctrl/Cmd to select multiple):</label>
			<select multiple="multiple" id="specific-user" name="specific_user[]" style="width: auto;">
				<% users.sort{|x,y| x.sortable_name.downcase <=> y.sortable_name.downcase}.each do |user| %>
				<option value="<%= user.id %>"><%= user.sortable_name %></option>
				<% end %>	
			</select><br>
		</fieldset>

		<fieldset class="dcf-col-100% dcf-col-50%-end@sm">
			<legend>Attachments</legend>
			<div id="files">
				<div id="file-container" class="file-container" style="padding-right: 60px; position: relative;">
					<input class="file-input" type="file" name="file_1" />
					<button style="display: none; position: absolute; right: 5px; top: 5px;" type="button" class="remove-file dcf-btn">&times;</button>
				</div>
			</div>
			<br>
			<button id="add-file" type="button" class="dcf-btn wdn-button-triad">Add another file</button>
		</fieldset>

	</div>

	<fieldset>
		<legend>Compose</legend>
		<label for="subject">Subject:</label>
		<input type="text" id="subject" name="subject" />

		<label for="body">Body:</label>
		<textarea class="ckeditor" style="min-height: 150px" id="body" name="body"></textarea>
		<br><br>
		<button type="submit" class="dcf-btn dcf-btn-primary">Send</button>
	</fieldset>
</form>

<% append_script_tag('/js/lib/ckeditor/ckeditor.js') %>

<% append_script_declaration(%q[var files = 1;

require(['jquery'], function ($) {
	$(document).ready(function () {
		$('#specific-user').change(function (change) {
			$('#send-to-specific-user').attr('checked', true);
		});

		$('#add-file').click(function (click) {
			click.preventDefault();
			$input_div = $('#file-container').clone();
			$input_div.removeAttr('id');
			$input_div.find('.file-input').attr('name', 'file_' + ++files);
			$input_div.find('.remove-file').show();
			$('#files').append($input_div);
		});

		$('#files').on('click', '.remove-file', function (click) {
			click.preventDefault();
			$(this).closest('.file-container').remove();
		});
	});
});]) %>