<table class="dcf-w-100% dcf-table dcf-table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Attended</th>
        </tr>
    </thead>
    <tbody>
    <% event.signups.each do |signup| %>
        <tr>
            <td><%= signup.name %></td>
            <td><%= signup.email %></td>
            <td><input id="attendance-checkbox" type="checkbox" value="0"></td>
        </tr>
    <% end %>
    </tbody>
</table>
