<h1 class="dcf-txt-h3" id="New_Project">Project Creation Form</h1>

<div class="dcf-grid dcf-col-gap-vw">
<form id="new-user" action="" method="POST" enctype="multipart/form-data" class="dcf-form dcf-col-100% dcf-col-50%-start@sm">
    <fieldset>
        <legend>Project Details</legend>

        <div class="dcf-form-group">
            <label for="username">Username</label>
            <input class="dcf-w-100%" type="text" id="username" name="username" value ="<%= user.username %>"    readonly />
        </div>

        <div class="dcf-form-group">
            <label for="title">Title</label>
            <input class="dcf-w-100%" type="text" id="title" name="title" />
        </div>

        <div class="dcf-form-group">
            <label for="password">Description</label>
            <input class="dcf-w-100%" type="text" id="description" name="description" />
        </div>

        <div class="dcf-form-group">
            <label for="password">Bin ID</label>
            <input class="dcf-w-100%" type="text" id="bin_id" name="bin_id" />
        </div>
        <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Create</button>
    </fieldset>
</form>
</div>
      