<h1 class="dcf-txt-h3" id="New_Project">Project Creation Form</h1>


<div class="dcf-grid dcf-col-gap-vw">
<form id="new-user" action="" method="POST" enctype="multipart/form-data" class="dcf-form dcf-col-100% dcf-col-50%-start@sm">
  <fieldset>
  <legend>Owner</legend>
    <div class="dcf-form-group">
      <label for="password">NUID</label>
      <input class="dcf-w-100%" type="text" id="nuid" name="nuid" />
    </div>
    <label class="or-label">or</label>
    <div class="dcf-form-group">
      <label for="password">Email</label>
      <input class="dcf-w-100%" type="text" id="email" name="email" />
    </div>
  </fieldset>
  <div class="dcf-grid dcf-col-gap-vw">
      <div class="dcf-col-100% dcf-col-67%-start@sm">
          <button class="dcf-btn dcf-btn-primary dcf-float-left" type="submit">Continue</button>
      </div>
  </div>
</form>
</div>