<div class="dcf-grid dcf-col-gap-vw dcf-flex-wrap">
    <div class="dcf-col-50% dcf-ac-center">
    <h1 class="dcf-txt-h1 dcf-txt-center" id="Title">Kiewit Garage Status</h1>
    </div>

    <div class="dcf-col-50% dcf-flex dcf-jc-center">

        <div class="dcf-col-100% dcf-w-100%" style="margin-top:15px">
            <table class="dcf-table dcf-table-bordered dcf-m-4 dcf-w-100%" aria-describedby="num_down_machines">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Potentials</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dcf-txt-center">
                        <td>New User Orientation - Fall 2024 & Spring 2025</td>
                        <td>20</td>
                    </tr>
                    <tr class="dcf-txt-center">
                        <td>3D Printer Bambu X1E</td>
                        <td>5</td>
                    </tr>
                    <tr class="dcf-txt-center">
                        <td>3D Printer - Formlabs Form 4</td>
                        <td>2</td>
                    </tr>
                    <tr class="dcf-txt-center">
                        <td>Fabrication Laser - Epilog Fusion Pro 32 100-50</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="dcf-col-100% dcf-w-100%" style="margin-top:15px">
            <table class="dcf-table dcf-table-bordered dcf-m-4 dcf-w-100%" aria-describedby="num_down_machines">
                <thead>
                    <tr>
                        <th class="dcf-txt-center">Number of Locked Out / Tag Out Machines</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dcf-txt-center">
                        <td><%= lockout_count %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="dcf-box dcf-border-all dcf-p-6 dcf-mb-4">
    <h2 class="dcf-txt-center">A beautiful histogram here</h2>
    <p>
        This box will be changed to a histogram at a later time
    </p>


</div>

<h1 class="dcf-txt-h3 dcf-txt-center" id="Title">Locked Out / Tag Out Machines</h1>
<div class="dcf-grid dcf-col-gap-vw dcf-flex-wrap">
    <div class="dcf-col-67%-center dcf-felx-wrap">
        <table class="dcf-table dcf-table-bordered dcf-m-4 dcf-w-100%" aria-describedby="Down-Machines">
            <thead>
                <tr>
                    <th>Laser Engraver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>