<h1 class="dcf-txt-h1 dcf-txt-center" id="Title">Kiewit Garage Status</h1>

<div class="dcf-grid dcf-col-gap-vw dcf-flex-wrap">
    <div class="dcf-col-50%">
        <div class="dcf-col-100% dcf-col-67%-start@sm" style="margin-top:15px">
            <table class="dcf-table dcf-table-bordered dcf-m-4" aria-describedby="num_down_machines">
                <thead>
                    <tr>
                        <th scope="col"> Number of Locked Out / Tag Out Machines </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dcf-txt-center">
                        <td><%= lockout_count %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dcf-col-50%">
        <div class="dcf-col-100% dcf-col-67%-start@sm" style="margin-top:15px">
            <table class="dcf-table dcf-table-bordered dcf-m-4" aria-describedby="num_down_machines">
                <thead>
                    <tr>
                        <th scope="col"> Number of Locked Out / Tag Out Machines </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dcf-txt-center">
                        <td>GET NUMBER HERE</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table class="dcf-table dcf-table-bordered dcf-m-4" aria-describedby="Down-Machines">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Tool</th>
        </tr>
    </thead>
    <tbody>
        <% inop_tools.each do |tool| %>
            <tr>
                <td>
                    <%= tool.get_category_name %>
                </td>
                <td>
                    <%= tool.tool_name %>
                </td>
            </tr>
        <% end %>   
    </tbody>
</table>
		