<div class="event-page dcf-mt-6">
    <h4 id="trainings-table">Trainings</h4>
    <%= erb :'event_listing_table', locals: {:id => 4, :events => events, :events_advanced => 'trainings-table'} %>

    <%= erb :'workshop_listings', locals: {:events_advanced => events_advanced, :events_creation => events_creation, :events_general => events_general} %>
</div>
