<div class="event-page">
    <%= erb :'innovationstudio/workshop_listings', locals: {:events_advanced => events_advanced, :events_creation => events_creation, :events_general => events_general} %>
</div>
