<h1>Manage Your Alert Groups</h1>

<% if SS_ID == 1 %>
    <%= erb :'innovationstudio/alert_center', :locals => {
        :generalAlerts => generalAlerts,
        :woodShopAlerts => woodShopAlerts,
        :metalShopAlerts => metalShopAlerts,
        :digitalFabricationAlerts => digitalFabricationAlerts,
        :artAlerts => artAlerts,
        :alert_ids => alert_ids
    } %>
<% elsif SS_ID == 8 %>
    <%= erb :'engineering_garage/alert_center', :locals => {
        :generalAlerts => generalAlerts,
        :woodShopAlerts => woodShopAlerts,
        :metalShopAlerts => metalShopAlerts,
        :digitalFabricationAlerts => digitalFabricationAlerts,
        :artAlerts => artAlerts,
        :alert_ids => alert_ids
    } %>
<% end %>
