<div id="pagetitle">
	<h3>Sign Up For <%= event.title %>
	<span class="dcf-subhead"><%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %></span></h3>
</div>

<% if event.type.description != 'Free Event' %>
<form id="signup" action="" method="POST" novalidate="novalidate">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />

            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
            <br><br>
            <button class="dcf-btn dcf-btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
</form>
<% else %>
This event is a Free Event and is open to anyone. No signup is required.
<% end %>
