<h1 class="dcf-txt-h3">Forgot Password</h3>

<form class="dcf-form" id="forgot-password" action="" method="POST">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <div>
            <p>Please enter your username and we will send you an email to reset your password.</p>

            <div class="dcf-form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" />
            </div>

            <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Reset Password</button>
        </div>
     </div>
</form>
