<div id="pagetitle">
	<h3>Forgot Password</h3>
</div>

<form id="forgot-password" action="" method="POST">
    <div class="bp2-wdn-col-one-half">
        <div>Please enter your username and we will send you an email to reset your password.</div><br>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <br><br>

        <button class="wdn-button wdn-button-brand" type="submit">Reset Password</button>
    </div>
</form>
