<div id="pagetitle">
	<h3>Forgot Password</h3>
</div>

<form id="forgot-password" action="" method="POST">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <div>
            <div>Please enter your username and we will send you an email to reset your password.</div><br>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <br><br>

            <button class="dcf-btn dcf-btn-primary" type="submit">Reset Password</button>
        </div>
     </div>
</form>
