<h1>Lockout <%= tool.name %></h1>

<form>
	<label for="description">Description</label>
	<textarea name="description" placeholder="Description"></textarea>
	<button class="dcf-button dcf-button-primary" type="submit">Create Lockout</button>
</form>