<div id="pagetitle">
	<h3>Login</h3>
</div>

<form id="login" action="" method="POST">
    <div class="bp2-wdn-col-one-half">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <br><br>
        <button class="wdn-button wdn-button-brand" type="submit">Login</button>
    </div>
</form>
