<%
require 'models/maker_request'
%>

<div id="pagetitle">
<h3>View Maker Request</h3>
</div>

<%= erb :'maker_request_details', locals: {maker_request: maker_request} %>
<hr class="dcf-mt-6"/>
<%= erb :'maker_request_expiration_notice' %>
<%= erb :'maker_request_disclaimer' %>
