<div class="dcf-txt-2xs">
    <h2 class="dcf-txt-h4 dcf-mb-1">Disclaimer</h2>

    <p>The University of Nebraska and the Nebraska Innovation Studio do not endorse and are not responsible for any goods or services performed by the
    members of the Nebraska Innovation Studio. By using REQUEST A MAKER you acknowledge your dealings with, and any terms, conditions, representations
    and warranties associated with such dealings between you and members of the Nebraska Innovation Studio do not involve the University of Nebraska or
    the Nebraska Innovation Studio. The University of Nebraska and Nebraska Innovation Studio are not responsible or liable for any products, goods, or
    services provided by members of Nebraska Innovation Studio. The University of Nebraska and Nebraska Innovation Studio are not responsible or liable
    for any damage caused or alleged to be caused by or in connection with any products, goods, or services provided by members of Nebraska Innovation Studio.</p>
</div>
