<div id="pagetitle">
<h3>Maker Request</h3>
</div>

<div class="dcf-grid dcf-col-gap-vw dcf-row-gap-6">
    <div class="dcf-col-100% dcf-col-67%-start@md">
        <%= erb :'maker_request_form' %>
    </div>
    <div class="dcf-col-100% dcf-col-33%-end@md">
        <%= erb :'maker_request_disclaimer' %>
    </div>
</div>
