<div class="dcf-txt-xs">
    <h2 class="dcf-txt-h4 dcf-mb-1">Expiration Notice</h2>
    <p>Maker requests will expire after <%= Maker_Request::EXPIRATION_DAYS %> days and will not
    display in the <a href="/maker_request/list">Maker Request List</a>. If your request has expired and you’d like to renew it, you will need to create a new request.</p>
</div>
