
<div id="pagetitle">
<h3>Maker Request How To</h3>
</div>

<h4>Maker Request NISM Member Navigation</h4>

<p>As a member you have access to the <b>Maker Requests</b> navigation tab when you are logged into your innovationstudio-manager.unl.edu site.
When you hover over this tab you will be shown the member maker request links.</p>

<div class="dcf-mb-4">
    <img class="dcf-obj-fit-contain" src="/images/ism-maker-request-nav.png" alt="Highlight innovationstudio-manager.unl.edu Maker Requests navigation">
</div>

<ul>
   <li>Maker How To &mdash; Provides basic information for members of innovationstudio-manager.unl.edu on how to use Maker Requests.</li>
   <li>View Open Requests &mdash; Provides a link to requests made by others that you can review and make contact with the requestor if you are interested in the project.</li>
   <li>Create Request &mdash; Allows you to create a request for other makers to make for you.</li>
   <li>View My Request &mdash; Allows you to review and manage requests created by you.</li>
</ul>

<h4>Maker Request Overview</h4>

<p>If someone you know has a request for a maker and they are not a studio member you can direct them to our main page, innovationstudio.unl.edu where they can create a
request for all members to have access to view and claim.</p>

<div class="dcf-txt-center">
    <img src="/images/is-requset-maker-home-nav.png" alt="Highlight innovationstudio.unl.edu Maker Request navigation">
</div>

<ul>
   <li>Any projects that you are interested in working on will be facilitated by you reaching out directly to the requestor.</li>
   <li>Nebraska Innovation Studio does not communicate with you, the requestor, or on behalf of you or the requestor.</li>
   <li>If you agree to work on a project you will need to let the requestor know to remove the request by clicking on the
   “View My requests” tab and then deleting it from their queue.</li>
</ul>


<hr class="dcf-mt-6" />
<%= erb :'maker_request_disclaimer' %>