<div id="pagetitle">
    <h3>Manage My Account</h3>
</div>

<p><a href="/home/">View your scheduled events and reservations</a></p>

<div>
	<h4>Update Profile</h4>
</div>
<form action="" method="POST">
<section class="wdcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
<div>
	<label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= @user.email %>" />

    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first_name" value="<%= @user.first_name %>" />

    <label for="last-name">First Name</label>
    <input type="text" id="last-name" name="last_name" value="<%= @user.last_name %>" />
    <br><br>
    <button type="submit" class="dcf-btn dcf-btn-primary">Save</button>
</div>
</section>
</form>

<div>
	<h4>Change Password</h4>
</div>

<form action="/change-password/" method="POST">
<section class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
<div>
	<label for="password">New Password</label>
	<input type="password" id="password" name="password" />

	<label for="password2">Confirm New Password</label>
	<input type="password" id="password2" name="password2" />
	<br><br>
	<button type="submit" class="dcf-btn dcf-btn-primary">Change Password</button>
</div>
</section>
</form>
