<ul>
    <% unless @user.nil? %>
    <li><a href="/" title="Nebraska Innovation Studio Manager Home">Manage Your Studio</a>
    <ul>
        <li><a href="/tools/trainings/" title="Trainings">Trainings</a></li>
        <li><a href="/workshops/" title="Workshops">Workshops</a></li>
        <li><a href="/calendar/" title="Calendar of Events">Event Calendar</a></li>
        <li><a href="/pricing/" title="Material Pricing">Material Pricing</a></li>
    </ul>
    </li>
    <li><a href="/tools/" title="Reserve Equipment">Reserve Equipment</a></li>
    <li><a href="/training-documents" title="Nebraska Innovation Studio Training Documents">Training Documents</a>
        <ul>
            <li><a href="/training-documents/sop/" title="SOP">SOP</a></li>
            <li><a href="/training-documents/workshops/" title="Workshops">Workshops</a></li>
            <li><a href="/training-documents/tips-and-tricks/" title="Tips and Tricks">Tips and Tricks</a></li>
        </ul>
    </li>
    <% end %>
    <% if @user.nil? %>
    <li><a href="/maker_request" title="Nebraska Innovation Studio Maker Requests">Maker&nbsp;Requests</a>
        <ul>
            <li><a href="/maker_request" title="Create Request">Create Request</a></li>
            <li><a href="/maker_request/lookup" title="Lookup My Requests">Lookup My Requests</a></li>
        </ul>
    </li>
    <% else %>
    <li><a href="/maker_request/list" title="Nebraska Innovation Studio Maker Requests">Maker Requests</a>
        <ul>
            <li><a href="/maker_request/how_to" title="Maker How To">Maker How To</a></li>
            <li><a href="/maker_request/list" title="View Open Requests">View Open Requests</a></li>
            <li><a href="/maker_request" title="Create Request">Create Request</a></li>
            <li><a href="/maker_request/lookup" title="View My Requests">View My Requests</a></li>
        </ul>
    </li>
    <% end %>

<%
=begin These items are linked from the main website
    <li><a href="/tours/" title="Tours">Tours</a>
    </li>
    <li><a href="/new_members/" title="New Member Orientation">New Members</a>
    </li>
=end %>
    <% unless @user.nil? || !@user.is_admin? %>
        <li><a href="/admin/" title="Admin">Admin</a>
            <ul>
                <% if has_permission?(Permission::MANAGE_USERS) || has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/users/" title="Users">Users</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_EVENTS) || has_permission?(Permission::EVENTS_ADMIN_READ_ONLY) %>
                <li><a href="/admin/events/" title="Events">Events</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_RESOURCES) %>
                <li><a href="/admin/tools/" title="Tools">Tools</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_SPACE_HOURS) %>
                <li><a href="/admin/hours/" title="Hours">Hours</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_EMAILS) %>
                <li><a href="/admin/email/" title="Email">Email</a></li>
                <% end %>
                <% if has_permission?(Permission::SEE_AGENDA) %>
                <li><a href="/admin/agenda/" title="Agenda">Agenda</a></li>
                <% end %>
                <% if has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/announcements/" title="Hours">Announcements</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_RESOURCES) %>
                <li><a href="https://innovationstudio.unl.edu/user/login?destination=node/<%= drupal_node_lookup(:material_pricing) %>/edit" target="_blank">Edit Material Pricing</a></li>
                <li><a href="https://innovationstudio.unl.edu/user/login?destination=node/<%= drupal_node_lookup(:sop_training_doc) %>/edit" target="_blank">Edit SOP</a></li>
                <li><a href="https://innovationstudio.unl.edu/user/login?destination=node/<%= drupal_node_lookup(:workshops_training_doc) %>/edit" target="_blank">Edit Workshops</a></li>
                <li><a href="https://innovationstudio.unl.edu/user/login?destination=node/<%= drupal_node_lookup(:tips_training_doc) %>/edit" target="_blank">Edit Tips and Tricks</a></li>
                <% end %>
            </ul>
        </li>
    <% end %>
    <li>
        <a href="/me/">My Account</a>
        <% unless @user.nil? %>
        <ul>
            <li><a href="/logout/">Logout</a></li>
        </ul>
        <% else %>
        <ul>
            <li><a href="/login/">Login</a></li>
        </ul>
    </li>
    <% end %>
</ul>
