<ul>
    <% unless @user.nil? %>
        <li><a href="/">Manage Your Studio</a>
        <ul>
            <li><a href="/tools/trainings/">Trainings</a></li>
            <li><a href="/workshops/">Workshops</a></li>
            <li><a href="/calendar/">Event Calendar</a></li>
            <% if SS_ID == 1 || @user.is_admin? %>
                <li><a href="/pricing/">Material Pricing</a></li>
            <% end %>
        </ul>
        </li>
        <li><a href="/tools/">Reserve Equipment</a>
        <% if SS_ID == 8 && @user.id == -1 %>
            <ul>
                <li><a href="/checkout/">Checkout</a></li>
            </ul>
        <% end %>
        </li>
        <% if SS_ID == 1 %>
            <li><a href="/training-documents">Training Documents</a>
                <ul>
                    <li><a href="/training-documents/sop/">SOP</a></li>
                </ul>
            </li>
        <% end %>
    <% end %>
    <% if SS_ID == 1 %>
        <% if @user.nil? %>
        <li><a href="/maker_request">Maker&nbsp;Requests</a>
            <ul>
                <li><a href="/maker_request">Create Request</a></li>
                <li><a href="/maker_request/lookup">Lookup My Requests</a></li>
            </ul>
        </li>
        <% else %>
        <li><a href="/maker_request/list">Maker Requests</a>
            <ul>
                <li><a href="/maker_request/how_to">Maker How To</a></li>
                <li><a href="/maker_request/list">View Open Requests</a></li>
                <li><a href="/maker_request">Create Request</a></li>
                <li><a href="/maker_request/lookup">View My Requests</a></li>
            </ul>
        </li>
        <% end %>
    <% end %>

<% 
=begin These items are linked from the main website
             <li><a href="/tours/" title="Tours">Tours</a>
             </li>
             <li><a href="/new_members/" title="New Member Orientation">New Members</a>
             </li>
=end %>
    <% unless @user.nil? || !@user.is_admin? %>
        <li><a href="/admin/">Admin</a>
            <ul>
                <% if has_permission?(Permission::MANAGE_USERS) || has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/users/">Users</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_EVENTS) || has_permission?(Permission::EVENTS_ADMIN_READ_ONLY) %>
                <li><a href="/admin/events/">Events</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_RESOURCES) %>
                <li><a href="/admin/tools/">Tools</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_SPACE_HOURS) %>
                <li><a href="/admin/hours/">Hours</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_EMAILS) %>
                <li><a href="/admin/email/">Email</a></li>
                <% end %>
                <% if has_permission?(Permission::SEE_AGENDA) %>
                <li><a href="/admin/agenda/">Agenda</a></li>
                <% end %>
                <% if has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/announcements/">Announcements</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_RESOURCES) %>
                    <li><a href="/admin/material_prices/">Edit Material Pricing</a></li>
                    <% if SS_ID == 1 %>
                        <li><a href="https://innovationstudio.unl.edu<%= drupal_link_lookup(:sop_training_doc) %>" target="_blank">Edit SOP</a></li>
                    <% end %>
                <% end %>
                <% if has_permission?(Permission::MANAGE_USERS) || has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/view_check_in/">Check In Log</a></li>
                <% end %>
                <% if has_permission?(Permission::MANAGE_USERS) || has_permission?(Permission::SUPER_USER) %>
                <li><a href="/admin/orientation_attended/">Activate Members</a></li>
                <% end %>
            </ul>
        </li>
    <% end %>
    <li>
        <a href="/me/">My Account</a>
        <% unless @user.nil? %>
        <ul>
            <li><a href="/logout/">Logout</a></li>
        </ul>
        <% else %>
        <ul>
            <li><a href="/login/">Login</a></li>
        </ul>
    </li>
    <% end %>
</ul>
