<h1 class="dcf-txt-h3">
    Sign Up For HRC Training
	<span class="dcf-subhead"><%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %></span>
</h1>

<form class="dcf-form" id="signup" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <fieldset>
            <div class="dcf-form-group">
                <label for="first-name">First Name <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="first-name" name="first_name" required/>
            </div>

            <div class="dcf-form-group">
                <label for="last-name">Last Name <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="last-name" name="last_name" required/>
            </div>

            <div class="dcf-form-group">
                <label for="email">Email Address <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="email" name="email" required/>
            </div>

            <div class="dcf-form-group">
                <div class="dcf-datepicker">
                    <label for="date-of-birth">Date of Birth <small class="dcf-required">Required</small></label>
                    <input id="date-of-birth" name="date-of-birth" type="text" required/>
                </div>
            </div>
            
            <div class="dcf-form-group">
                <div id="vehicle-info">
                    <h6>Vehicle #1</h6>
                    <div class="dcf-form-group">
                        <label for="license-plate1">Vehicle License Plate</label>
                        <input type="text" id="license-plate1" name="license_plate1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="state1">Vehicle State</label>
                        <input type="text" id="state1" name="state1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="make1">Vehicle Make</label>
                        <input type="text" id="make1" name="make1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="model1">Vehicle Model</label>
                        <input type="text" id="model1" name="model1"/>
                    </div>
                </div>
            </div>

            <div class="dcf-input-checkbox dcf-mt-5">
                <input type="checkbox" name="vehicle-update" id="vehicle-update" required>
                <label for="vehicle-update">I UNDERSTAND I MUST UPDATE VEHICLE INFORMATION AS CHANGES OCCUR. <small class="dcf-required">Required</small></label>
            </div>

            <div class="dcf-form-group dcf-mt-4">
                <h6>Primary Emergency Contact</h6>
                <div class="dcf-form-group">
                    <label for="name1">Name <small class="dcf-required">Required</small></label>
                    <input type="text" id="name1" name="name1" required/>
                </div>
 
                <div class="dcf-form-group">
                    <label for="relationship1">Relationship <small class="dcf-required">Required</small></label>
                    <input type="text" id="relationship1" name="relationship1" required/>
                </div>

                <div class="dcf-form-group">
                    <label for="primary-phone1">Primary Phone Number <small class="dcf-required">Required</small></label>
                    <input type="text" id="primary_phone1" name="primary_phone1" required/>
                </div>

                <div class="dcf-form-group">
                    <label for="secondary_phone1">Secondary Phone Number</label>
                    <input type="text" id="secondary_phone1" name="secondary_phone1"/>
                </div>
            </div>

            <form action="/verify">
                <div>
                    <%= recaptcha %>
                </div>
                <div>
                    <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
        </fieldset>
    </div>
</form>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>