<div class="wdn-band">
    <div class="wdn-inner-wrapper">
	    <div id="pagetitle">
	    	<h3>Sign Up For Orientation</h3>
	    </div>

        <form id="signup" action="" method="POST">
	        <div class="bp2-wdn-col-one-half">
	            <label for="name">Name</label>
	            <input type="text" id="name" name="name" />
	            <br><br>
	            <button class="wdn-button wdn-button-brand" type="submit">Sign Up</button>
	        </div>
	    </form>
    </div>
</div>