<div class="wdn-footer-module">
	<span role="heading" class="wdn-footer-heading">Related Links</span>
	<ul>
		<li><a href="https://innovationstudio.unl.edu/">Innovation Studio</a></li>
		<li><a href="https://innovate.unl.edu/">Nebraska Innovation Campus</a></li>
	</ul>
</div>
