<div class="wdn-footer-module">
	<span role="heading" class="wdn-footer-heading">Related Links</span>
    <ul>
		<li><a href="http://innovate.unl.edu/">Nebraska Innovation Campus</a></li>
		<li><a href="http://make.unl.edu/">UNL Maker Club</a></li>
	</ul>
</div>