<div id="block-block-102" class="block block-block">
    <h3>Related Links</h3>
  <div class="content">
    <ul>
<li><a href="http://innovate.unl.edu/">Nebraska Innovation Campus</a></li>
<li><a href="http://make.unl.edu/">UNL Maker Club</a></li>
</ul>  </div>
</div>