<div id="pagetitle">
	<h3>Reset Password</h3>
</div>

<form class="dcf-form" id="reset-password" action="/reset_password/" method="POST">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <div>
            <div>Please enter a new password. Passwords must be at least 8 characters.</div><br>

            <label for="password">New Password</label>
            <input type="password" id="password" name="password" />
            <br>
            <label for="password2">Confirm New Password</label>
            <input type="password" id="password2" name="password2" />

            <input class="hidden" name="token" value="<%= token %>">
            <br><br>
            <button class="dcf-btn dcf-btn-primary" type="submit">Reset Password</button>
        </div>
    </div>
</form>
