<h1 class="dcf-txt-h3">Reset Password</h1>

<form class="dcf-form" id="reset-password" action="/reset_password/" method="POST">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <div>
            <p>Please enter a new password. Passwords must be at least 8 characters.</p>

            <div class="dcf-form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" />
            </div>

            <div class="dcf-form-group">
                <label for="password2">Confirm New Password</label>
                <input type="password" id="password2" name="password2" />
            </div>

            <input class="hidden" name="token" value="<%= token %>">
            <button class="dcf-btn dcf-btn-primary" type="submit">Reset Password</button>
        </div>
    </div>
</form>
