<h1 class="dcf-txt-h3">SOP
    <% if has_permission?(Permission::MANAGE_RESOURCES) %>
    (<a href="https://innovationstudio.unl.edu#{drupal_link_lookup(:sop_training_doc)}" target="_blank">Edit</a>)
    <% end %>
</h1>

<%= content %>
