<div id="pagetitle">
<h3>Tools You Can Reserve</h3>
</div>

<% if available_tools.count > 0 %>
<table>
    <thead>
        <tr>
            <th>Tool</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% available_tools.each do |tool| %>
        <tr>
            <td>
                <%= tool.name %>
            </td>
            <td>
                <%= tool.model %>
            </td>
            <td class="table-actions">
                <% if tool.is_reservable %>
                    <a href="/tools/<%= tool.id %>/reserve/" class="dcf-btn dcf-btn-primary"><%= @user.meets_resource_reservation_limit?(tool.id) ? 'Reserve Time' : 'View Reservations' %></a>
                <% else %>
                    Reservation not required
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% else %>
<p>
    There are no tools currently available for you to reserve. To reserve a tool, you must have
    completed a training on that machine. Perhaps you'd like to <a href="/tools/trainings/">sign up for some upcoming trainings</a>?
</p>
<% end %>