<% if available_tools.count > 0 %>
<table>
    <thead>
        <tr>
            <th>Tool</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
    <% available_tools.each do |tool| %>
        <tr>
            <td>
                <%= tool.name %>
            </td>
            <td>
                <%= tool.model %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% else %>
<p>
    There are no tools currently available for you to reserve. To reserve a tool, you must have
    completed a training on that machine. Perhaps you'd like to <a href="/tools/trainings/">sign up for some upcoming trainings</a>?
</p>
<% end %>