<h1 class="dcf-txt-h3">Training Documents</h1>

<ul>
    <li><a href="/training-documents/sop">SOP</a>
        <% if has_permission?(Permission::MANAGE_RESOURCES) %>
        (<a href="https://innovationstudio.unl.edu#{drupal_link_lookup(:sop_training_doc)}t" target="_blank">Edit</a>)
        <% end %>
    </li>
</ul>
