<h4 id="alerts">Alerts</h4>
<p>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications on upcoming trainings.</p>

<h1 class="dcf-txt-h3">Upcoming Machine Trainings and Workshops</h1>

<p>
Welcome to the <%= CONFIG['app']['title'] %>! 
Before using our equipment, it is necessary to complete training workshops on each
type of equipment. Here, you can sign up for upcoming trainings. Take a look at our upcoming offerings:
</p>

<% if SS_ID == 1 %>
    <%= erb :'innovationstudio/trainings' %>
<% elsif SS_ID == 8 %>
    <%= erb :'engineering_garage/trainings' %>
<% end %>
