<h4 id="alerts">Alerts</h4>
<p>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications on upcoming trainings.</p>


<% if SS_ID == 1 %>
    <%= erb :'innovationstudio/trainings', :locals => {
		:events => events,
		:events_advanced => events_advanced,
		:events_creation => events_creation,
		:events_general => events_general
    } %>
<% elsif SS_ID == 8 %>
    <%= erb :'engineering_design_hub/trainings', :locals => {
		:events => events,
		:events_advanced => events_advanced,
		:events_creation => events_creation,
		:events_general => events_general
    } %>
<% end %>
