<h4 id="alerts">Alerts</h4>
<p>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications on upcoming workshops.</p>

<h1 class="dcf-txt-h3">Upcoming Workshops</h1>

<% if SS_ID == 1 %>
    <%= erb :'innovationstudio/workshops', :locals => {
		:events_advanced => events_advanced,
		:events_creation => events_creation,
		:events_general => events_general
	} %>
<% elsif SS_ID == 8 %>
    <%= erb :'engineering_garage/workshops', :locals => {
		:events_advanced => events_advanced,
		:events_creation => events_creation,
		:events_general => events_general
	} %>
<% end %>
