<div id="pagetitle">
    <h3>Upcoming Workshops</h3>
</div>

<%= erb :'workshop-listings', locals: {:events_advanced => events_advanced, :events_creation => events_creation, :events_general => events_general} %>
