<div id="pagetitle">
    <h3>Upcoming Workshops</h3>
</div>

<div class="event-page">
    <%= erb :'workshop_listings', locals: {:events_advanced => events_advanced, :events_creation => events_creation, :events_general => events_general} %>
</div>
