
<h4 id="adv-skill-based-workshops-table">Advanced Skill-Based Workshops</h4>
<%= erb :'event_listing_table', locals: {:events => events_advanced, :events_advanced => 'adv-skill-based-workshops-table'} %>

<h4 id="creation-workshops-table">Creation Workshops</h4>
<%= erb :'event_listing_table', locals: {:events => events_creation, :events_advanced => 'creation-workshops-table'} %>

<h4 id="general-workshops-table">General Workshops</h4>
<%= erb :'event_listing_table', locals: {:events => events_general, :events_advanced => 'general-workshops-table'} %>
