<h4 id="alerts">Alerts</h4>
<p>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications on upcoming workshops.</p>

<h1 class="dcf-txt-h3">Upcoming Workshops</h1>

<div class="event-page">
    <%= erb :'workshop_listings', locals: {:events_advanced => events_advanced, :events_creation => events_creation, :events_general => events_general} %>
</div>
