<p>Hi, <%= @user.full_name.rstrip %>. You have been assigned as a trainer for <strong><%= @event.title %></strong>. Don't forget that this event is</p>

<p><strong><%= @event.start_time.in_time_zone.strftime('%A, %B %d at %l:%M %P') %></strong>.</p>

<p>Please visit your <a href="<%= CONFIG['app']['URL'] %>home/" target="_blank" rel="noopener">home page</a> to confirm your assignment.</p>

<p>Nebraska Innovation Studio</p>