<p>Dear <%= @user.full_name %>,</p>
 
<p>Thank you for creating your account and attending the tour of the Kiewit Hall Design Hub. We&apos;re excited to have you as part of our workshop community.</p>
 
<p>Your door access will be activated within 2 business days.</p>
 
<p>
  Please bookmark this link for easy access to your Design Hub account:
  <br>
  <a href="<%= CONFIG['app']['URL'] %>login/" target="_blank" rel="noopener">Design Hub Studio Manager Login</a>
</p>

<p>
  The Manager allows you to:
  <br>
  Reserve equipment
  <br>
  Schedule additional training sessions
  <br>
  If you have any questions or need assistance, feel free to reach out to us at designhub@unl.edu
</p>
 
<p>
  We look forward to seeing what you create!
  <br>
  Kiewit Hall Design Hub Team
</p>