<p>Hi, <%= @user.full_name.rstrip %>. You are receiving this email because your reservation for <strong><%= @resource.name %></strong> on <strong><%= @reservation.start_time.in_time_zone.strftime('%A, %B %d at %l:%M %P') %></strong> has been canceled due to broken equipment. We apologize for this inconvenience.</p>

<p>Engineering Design Hub</p>