<p>Hi, <%= @user.full_name.rstrip %>. You are receiving this email because the following event you are scheduled to train has been deleted:</p>

<p><strong><%= @event.title %></strong></p>

<p>Engineering Design Hub</p>