<p>Hi, <%= @user.full_name.rstrip %>. You are receiving this email because you are no longer a trainer for the following event:</p>

<p><strong><%= @event.title %></strong></p>

<p>Engineering Design Hub</p>