<p>Hi, <%= @user.full_name.rstrip %>. You're receiving this email because either your vehicle information has been updated or your account has been activated.</p> 

<p>Your most recent vehicle information is as follows:</p>
<%= @summary %>

<p>Engineering Design Hub</p>