<strong>Thank you for attending New Member Orientation!</strong>

<p>To activate your user account please go to:</p>

<p><a href="<%= CONFIG['app']['URL'] %>login/" target="_blank" rel="noopener"><%= CONFIG['app']['URL'] %>login/</a> (Bookmark this link for future use) then enter the following:</p>

<p>User Name: <%= @user.username %></p>
<p>Temp Password: Welcome123</p>

<p>After logging in you must:</p>

<p>Click on “My Account” on the far right side of the red banner.
Go to “Add Vehicle”. Add your vehicle information. 
You can add up to 3 vehicles. You must park in the lot shown on the attached map.
<i>If any vehicle information changes you must update your account before attending NIS.</i>
<u>FAILURE TO DO SO WILL RESULT IN UP TO A $60 TICKET EVERY TIME YOU PARK.</u></p>

<strong>TRAININGS AND RESERVATIONS</strong>

<p>You are now able to sign up for any trainings or workshops via this webpage by clicking on the VIEW TRAININGS, VIEW WORKSHOPS, VIEW FULL CALENDAR tabs on the main page or under the MANAGE YOUR STUDIO drop down tab.</p>

<p>After you have been through required equipment training you will be able to reserve that equipment on the RESERVE EQUIPMENT tab on the main page or the drop-down tab. Not all equipment requires training or reservations.</p>

<strong>RENEWING YOUR MEMBERSHIP</strong>
<p>To renew your membership you must do so in person. We accept credit cards and UNL N Cards or cost object numbers. No checks or cash are accepted. Renew as soon as you enter the studio or you will receive a parking ticket.</p>

<p>Thank you and welcome aboard!</p>

<p>Your Studio Staff</p>