<p>Thank you for attending New Member Orientation. You may now join the Engineering Garage Studio at any time.</p>

<p>In the meantime, please use the following username and default password to access information about upcoming trainings and workshops.</p>

<p><%= CONFIG['app']['url'] %>login/ (Bookmark this link for future use) then enter the following:</p>
<p>User Name: <%= @user.username %></p>
<p>Temp Password: Welcome123</p>

<p>
    Your membership – giving you access to the tools,
    trainings, and the accompanying parking privileges
    – will not begin until you pay. This needs to be done in person.
</p>

<p>However, with your username and password, you are able to sign up for trainings before you arrive at the garage to pay for your membership.</p>