<p>Thank you for creating your account and attending your tour of the Kiewit Hall Garage.</p>

<p>Please use the following username and default password to access information about upcoming trainings, workshops, and begin reserving equipment.</p>

<p><a href="<%= CONFIG['app']['URL'] %>login/" target="_blank" rel="noopener"><%= CONFIG['app']['URL'] %>login/</a> (Bookmark this link for future use) then enter the following:</p>

<p>User Name: <%= @user.username %></p>

<p>Temp Password: Welcome123</p>