<p>Hello, <%= @user.full_name.rstrip %>. Your Engineering Garage account is expiring soon! Our records show that your account expires on
<%= @user.expiration_date.strftime('%m-%d-%Y') %>.
Please visit us to keep your membership active.
</p>

<p>We hope to see you soon!</p>

<p>Engineering Garage</p>