<p>Thank you, <%= @name %> for creating your Garage Manager account.</p>

<p>In order to activate your account, you must attend an in-person tour. See Canvas for information about scheduled tours.</p>