<p>Thank you, <%= @user.full_name.rstrip %> for signing up for <%= @event.title %>. To see timing for this training please reference the <a href="<%= event.info_link %>">event page</a>.</p>

<p>We'll see you there!</p>

<p>Engineering Garage</p>